<div class="card-top container-fluid">
  <div class="container d-flex">
      <div class="item">
          <a (click) = "filter('')">
              
              <h6>All products</h6>
          </a>
      </div>
      <div class="item">
          <a (click)= "filter('ethnic')">
           
              <h6>Ethnic</h6>
          </a>
      </div>
      <div class="item">
          <a (click) = "filter('saree')">
             
              <h6>Saree</h6>
          </a>
      </div>
      <div class="item">
          <a (click) = "filter('kurta')">
              
              <h6>Kurta</h6>
          </a>
      </div>
      <div class="item">
          <a (click) = "filter('western')">
              
              <h6>Western</h6>
          </a>
      </div>
  </div>
</div>

<!-- sub NAVBAR -->

<!-- <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">

    <div class="container-fluid">
  
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a (click)="filter('')" class="nav-link active" aria-current="page" routerLink="/all" >All</a>
          </li>
          <li class="nav-item">
            <a (click)="filter('ethnic')" class="nav-link active" aria-current="page" >Ethnic</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link active" aria-current="page"  routerLink="/all" >Kurta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/all" >Saree</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/all" >Western</a>
          </li>
          
        </ul>
    
      </div>
    </div>
  </nav> -->


<!-- <p>all works!</p> -->

<div class="container">
    <div class="row">
        <ng-container *ngFor = "let item of productList | filter:searchKey:'description'">
            <div class="card col-md-2">
                <img [src]="item.image" alt="">
                <h6>  {{ item.name }} - {{ item.category }}</h6>
                <h5>{{item.description}}</h5>
                <p><strong><i class="fa-solid fa-indian-rupee-sign"></i>{{item.price}}</strong></p>
                <button type="button" class="btn btn-primary" (click)=addtocart(item)>Add to Cart</button>
            </div>
        </ng-container>
    </div>
</div>








