<div id="box">
    <h1>Welcome Back!</h1>
    <form action="home.html">

      <div class="bx">
        <input type="text" name="" id="" placeholder="User name">
        <i class="fa-solid fa-user"></i>
      
      </div>

      <div class="bx">
        <input type="password" placeholder="Password" id="paswd">
        
        <i class="fa-solid fa-lock" onclick="fun()"></i>
        <!-- <i class="fa-solid fa-lock-open"></i> -->
      </div>

      <div class="remember-forget">
        <label for=""><input type="checkbox" name="" id=""> Remember Me</label>
        <a href="">Forget Password?</a>
      </div>

      
      <input class="bt" type="submit" value="Get Started">
      
      <h4>New User? <a href="sign_up.html">Create account</a></h4>
    </form>
  </div>

