
/* navbar */
.container-fluid{
    margin: 0 3%;
}

.input-group .btn{  
    border-top-left-radius: 0;
    border-bottom-left-radius: 0 
} 

/* footer */
.round {
    border-radius: 50%;
  }




  /* .card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}


.item {
    margin: 0px 15px;
    text-align: center;
    cursor: pointer;
}

.item a:hover {
    color: blue;
} */