<div id="box">
        
    <h1>New Account</h1>
    <form action="sign_in.html" name="formFill" onsubmit="return validation()">

        <input class="bx" type="text" name="Username" id="" placeholder="User name">
        <br><br>

        <input class="bx" type="email" name="email" placeholder="E-mail"> <br><br>


        <input class="bx" type="password" name="password" id="" placeholder="Password">
        <br><br>

        <input class="bx" type="password" name="cpassword" id="" placeholder="Confirm Password">
        <br><br>

        <div class="agree">
            <label class="light" for=""> <input type="checkbox" name="" id="" > I agree to the Terms</label>
        </div>
        <br><br>

        <input class="bt" type="submit" value="Create account">

    </form>
</div>
