<main>


  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1514813482567-2858e6c00ee1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100" alt="">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Sint nulla maxime et.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1571587289339-cb7da03fb5a6?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Beauty in Traditional.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repudiandae nobis distinctio.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1448374247140-1b25b7a2d776?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100" alt="">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Enjoying the Comfy.</h1>
            <p class="opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet non in deserunt.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>




  <div class="container product">


    <div class="row">

      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
          src="https://rukminim2.flixcart.com/image/832/832/xif0q/t-shirt/d/g/7/xs-bmrrn-z31-blive-original-imaggcfdzrjbdaru.jpeg?q=70"
          alt="">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
        <h2 class="fw-normal">Western</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet non in deserunt consectetur alias explicabo id.
        </p>
        <p><a class="btn btn-secondary" routerLink="/all">View details &raquo;</a></p>
      </div>

      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
          src="https://rukminim2.flixcart.com/image/832/832/xif0q/top/r/z/y/m-western-dresses-for-women-stylish-tops-western-tops-for-girls-original-imagcqsv9zwhgfeh-bb.jpeg?q=70"
          alt="">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
        <h2 class="fw-normal">Kurta</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet non in deserunt consectetur alias explicabo id.
        </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>

      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
          src="https://rukminim2.flixcart.com/image/832/832/xif0q/sari/p/7/3/free-besaree-bhavya-exim-semi-stitched-original-imagad8z6vkbj43a.jpeg?q=70"
          alt="">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
        <h2 class="fw-normal">Saree</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet non in deserunt consectetur alias explicabo id.
        </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>

    </div>




    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 text-center">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for
            yourself.</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eum quam illo minus ratione
          tenetur quisquam ut facere, tempora expedita ea, alias nam.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500"
          src="https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span
            class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam necessitatibus itaque ex saepe
          autem tempora eveniet at eaque, culpa aut nisi obcaecati reprehenderit dignissimos! Assumenda perferendis
          itaque eius.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500"
          src="https://images.pexels.com/photos/935938/pexels-photo-935938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">

      </div>
    </div>

    <hr class="featurette-divider">



  </div>
</main>

<!-- <div class="row row-solid home-usps container" id="row-1290483344">

  <div id="col-1963316161" class="col medium-4 small-12 large-4">
    <div class="col-inner">

      <div class="icon-box featured-box icon-box-center text-center">
        <div class="icon-box-img" style="width: 60px">
          <div class="icon">
            <div class="icon-inner">
              <img width="100" height="100" src="https://box.samplrr.in/wp-content/uploads/2021/12/singup-1.png"
                class="attachment-medium size-medium" alt="singup" decoding="async" loading="lazy"
                srcset="https://box.samplrr.in/wp-content/uploads/2021/12/singup-1.png 150w, https://box.samplrr.in/wp-content/uploads/2021/12/singup-1-100x100.png 100w"
                sizes="(max-width: 150px) 100vw, 150px">
            </div>
          </div>
        </div>
        <div class="icon-box-text last-reset">

          <h3>Join Samplerr</h3>
          <p>In 3-simple steps tell us a few things about you and get free products for a lifetime.</p>

        </div>
      </div>
    </div>
  </div>


  <div id="col-1740474338" class="col medium-4 small-12 large-4">
    <div class="col-inner">

      <div class="icon-box featured-box icon-box-center text-center">
        <div class="icon-box-img" style="width: 60px">
          <div class="icon">
            <div class="icon-inner">
              <img width="150" height="150" src="https://box.samplrr.in/wp-content/uploads/2021/12/cart.png"
                class="attachment-medium size-medium" alt="cart" decoding="async" loading="lazy"
                srcset="https://box.samplrr.in/wp-content/uploads/2021/12/cart.png 150w, https://box.samplrr.in/wp-content/uploads/2021/12/cart-100x100.png 100w"
                sizes="(max-width: 150px) 100vw, 150px">
            </div>
          </div>
        </div>
        <div class="icon-box-text last-reset">


          <h3>Add Products</h3>
          <p>Our store has some of the most exclusive items you won’t find anywhere else yet.</p>

        </div>
      </div>



    </div>
  </div>



  <div id="col-1834963806" class="col medium-4 small-12 large-4">
    <div class="col-inner">




      <div class="icon-box featured-box icon-box-center text-center">
        <div class="icon-box-img" style="width: 60px">
          <div class="icon">
            <div class="icon-inner">
              <img width="150" height="150" src="https://box.samplrr.in/wp-content/uploads/2021/12/delivered-van.png"
                class="attachment-medium size-medium" alt="delivered" decoding="async" loading="lazy"
                srcset="https://box.samplrr.in/wp-content/uploads/2021/12/delivered-van.png 150w, https://box.samplrr.in/wp-content/uploads/2021/12/delivered-van-100x100.png 100w"
                sizes="(max-width: 150px) 100vw, 150px">
            </div>
          </div>
        </div>
        <div class="icon-box-text last-reset">


          <h3>Get Delivered</h3>
          <p>Just pay for the delivery charges and enjoy the most exclusive products.</p>

        </div>
      </div>



    </div>
  </div>




  <style>
    #row-1290483344>.col>.col-inner {
      padding: 20px 20px 30px 20px;
    
    }
  </style>
</div> -->